__pycache__/
*.pyc
*.pyo
venv/
.env

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

experiments/runs/*
experiments/logs/*
!experiments/runs/.gitkeep
experiments/runs/*     
experiments/logs/*     
!experiments/runs/.gitkeep
!experiments/logs/.gitkeep

.vscode/               
.idea/                 

.DS_Store              
Thumbs.db             



